@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
     @apply bg-content-bg text-text-dark font-sans; 
  }
}
@media print {
  * {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
    box-sizing: border-box;
  }

  body {
    margin: 0;
    padding: 0;
  }

  body * {
    visibility: hidden;
  }

  #print-section,
  #print-section * {
    visibility: visible;
  }

  #print-section {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    margin: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    overflow: hidden;
    page-break-after: avoid;
    page-break-inside: avoid;
  }

  table {
    page-break-inside: avoid;
    page-break-after: auto;
    break-inside: avoid;
    width: 100% !important;
  }

  tr {
    page-break-inside: avoid;
    break-inside: avoid;
  }
}